<app-header></app-header>

<div class="p-6">
 <div class="bg-white p-4 rounded-xl shadow-md">
  <div class="flex items-center justify-between mb-4">
   <h2 class="text-lg font-semibold m-0">Todo List</h2>
   <button class="bg-blue-600 text-white p-2 rounded flex items-center justify-center cursor-pointer">
    <i class="fas fa-plus" (click)="onAddTodo()"></i>
   </button>
  </div>
  <!-- <app-table [headersInput]="tableHeaders" [dataInput]="todoData" (action)="handleTableAction($event)"></app-table> -->
  @if (isLoading) {
  <div class="text-center py-6 text-gray-500">
   Loading...
  </div>
  }
  @else {
  @if (todoData.length === 0) {
  <div class="text-center py-6 text-gray-500">
   No records found
  </div>
  } @else {
  <app-table [headersInput]="tableHeaders" [dataInput]="todoData" (action)="handleTableAction($event)">
  </app-table>
  }
  }

 </div>
</div>

@if (openTodoModal) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40">
 <div class="bg-white rounded-xl w-full max-w-md p-6 shadow-lg">
  <h3 class="text-lg font-semibold mb-4">Add Todo</h3>
  <div class="mb-4">
   <app-text-field label="Todo Name" placeholder="Enter todo name" [(value)]="todo.title"></app-text-field>
  </div>
  <div class="mb-4">
   <app-datepicker label="Select Date" [(value)]="todo.date" [min]="minDate"></app-datepicker>
  </div>
  <div class="mt-6 flex justify-center">
   <app-button label="Cancel" variant="tertiary" (clicked)="openTodoModal = false"></app-button>
   <app-button [label]="btnLable" variant="primary" (clicked)="saveTodo()"></app-button>
  </div>
 </div>
</div>
}