<div class="min-h-screen flex items-center justify-center bg-gray-100">
 <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-lg">
  <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
   Forgot Password
  </h2>
  @if (state() === 'email') {
  <div class="mt-4">
   <app-text-field label="Email" type="email" placeholder="Enter your email" [(value)]="postParams.email">
   </app-text-field>
  </div>
  @if (messageService.message().status) {
  <p [class]="messageService.message().isError ? 'text-sm text-red-600 mt-2' : 'text-sm text-green-600 mt-2'">
   {{ messageService.message().text }}
  </p>
  }
  <div class="mt-6 flex justify-center">
   <app-button label="Send OTP" variant="primary" (clicked)="sendOtp()">
   </app-button>
  </div>
  }
  @if (state() === 'otp') {
  <p class="text-sm text-green-600 mb-4">
   OTP has been sent to your email. Please enter the OTP.
  </p>
  <div class="flex justify-center gap-3">
   @for (item of otpArray; track $index; let i = $index) {
   <input #otpInput type="text" maxlength="1" [value]="otpArray[i]"
    class="w-12 h-12 text-center text-xl border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    (input)="onInput($event, i)" (keydown)="onKeyDown($event, i)" (paste)="onPaste($event)">
   }
  </div>
  @if (messageService.message().status) {
  <p [class]="messageService.message().isError ? 'text-sm text-red-600 mt-2' : 'text-sm text-green-600 mt-2'">
   {{ messageService.message().text }}
  </p>
  }
  <div class="mt-6 flex justify-center">
   <app-button label="Verify OTP" variant="primary" (clicked)="verifyOtp()">
   </app-button>
  </div>
  }
  @if (state() === 'reset') {
  <p class="text-sm text-green-600 mb-4">
   OTP verified successfully. Please enter your new password.
  </p>
  <div class="mt-4">
   <app-text-field label="New Password" type="password" placeholder="Enter your new password"
    [(value)]="postParams.newPassword">
   </app-text-field>
  </div>
  @if (messageService.message().status) {
  <p [class]="messageService.message().isError ? 'text-sm text-red-600 mt-2' : 'text-sm text-green-600 mt-2'">
   {{ messageService.message().text }}
  </p>
  }
  <div class="mt-6 flex justify-center">
   <app-button label="Save" variant="primary" (clicked)="forgotPassword()">
   </app-button>
  </div>
  }
 </div>
</div>